<header class="customer-header">
    <h3>ARTE-TECH Klantenportaal</h3>
    <div class="header-right">
        <h4>{{  app.user.firstname }} {{  app.user.name }}</h4>

            <a href="{{ path('app_logout') }}"><button type="button" class="btn-shadow p-1 btn btn-danger btn-sm">
                    <i class="fa fa-sign-out-alt"></i>
                </button></a>


    </div>
</header>