{# templates/emails/registration.html.twig #}
<h3>Er is een nieuwe periode beschikbaar.</h3>

Beste {{ name }} {{ firstname }},
<br /><br />
Gelieve <a href="{{ url('customer-period-detail', {'id': id}) }}">deze link</a> te volgen om de periode te bekijken en goed te keuren.
<br /><br />
Met vriendelijke groeten,
<br />
Arte-Tech